
body{
    background-color: #3fae38;
}

h1 {
    color: #3fae38;
    text-align: center;
}
.main{
    margin: auto;
    width: 95%;
    height: 1000px;
    background-color: #fff;


}
.subCategorier{
    border: 1px solid black ;
    width: 90%;
    margin-left: 5%;
    height: 25px;
}
.linksBox{
    float: left;
    width: 25%;
    text-align: center;
}
.information{
    
}