
 /* Timmie - index */
body{
    background-color: #3fae39;
}

h1 {
    color: #3fae38;
    text-align: center;
}
h3{
    padding-left: 2px;
    color: white
}
.main{
    margin: auto;
    width: 95%;
    height: 1500px;
    background-color: #fff;


}
.subCategorier{
    border: 1px solid black ;
    width: 90%;
    margin-left: 5%;
    height: 25px;
}
.linksBox{
    float: left;
    width: 25%;
    text-align: center;
}
.box1{
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    width: 60%;
    height: 310px;

}
.imgBox1{
    width: 400px;
    height: 310px;
}

.sideBox1{
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 25px;
    border: 1px ridge black;
    width: 35%;
    float: right;
    text-align: center;
}
.Box2{
    margin-top: 10px;
    width: 45%;
    height: 600px;
    border: 1px solid black;
    border-radius: 2px;
    border-top-color: white;
}
.bundBox{
    background-color: #3fae38;
    width: 45%;
    height: 350px;
    margin-top: 200px;
   
}


