<!DOCTYPE html>
<html lang="en">
<head>
    <link href="HomePageCSS.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<div class="main">
    <h1>Hej verden</h1>
    <div class="subCategorier">
        <div class="linksBox">
            <a href="">Categori 1</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 2</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 3</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 4</a>
        </div>
    </div>
    <div class="box1">

    </div>
</div>

</body>
</html>