<!DOCTYPE html>
<html lang="en">
<head>
    <link href="HomePageCSS.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<div class="main">
    <h1>Hej verden</h1>
    <div class="subCategorier">
        <div class="linksBox">
            <a href="">Categori 1</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 2</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 3</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 4</a>
        </div>
    </div>
    <div class="box1">
    <img src="https://media.istockphoto.com/photos/container-full-of-domestic-food-waste-ready-to-be-composted-picture-id1212178940?s=612x612" style="width: 400px">
        <div class="sideBox1">
            <p>Ipsilum holhoh lho hoiksopgisfipofjksdpo jsdkjdvjjiv</p>
        </div>
    </div>
</div>

</body>
</html>