<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="HomePageCSS.css">
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>

<!-- Main boxen som er i midten af skærmen-->
<div class="main">
    <h1>Madspild</h1>

    <div class="subCategorier">
        <div class="linksBox">
            <a href="Homepage">Forside</a>
        </div>
        <div class="linksBox">
            <a href="side2">Hvad kan du gøre</a>
        </div>

        <div class="linksBox">
            <a href="Kontakt">Kontakt</a>
        </div>
    </div>


    <!-- Den første information box -->
    <div class="box1">
    <img src="https://cdn.potatopro.com/cdn/ff/irD5iGTQt3x3yzwU1nqYWD8vc925Ad9TCFXAx1HldVY/1629293780/public/styles/728_wide/public/field/image/food-waste-1-1200.jpg?itok=x9ulK6yk" class="imgBox1">
        <div class="sideBox1">
            <h2>Madspild Problemet</h2>
            <p>I de seneste år har procenten af madspild øget mere og mere, til det punkt hvor det kan skade vores jord som vi kender den.
             En masse mad som kunne spises smidt ud som så endt med at blive til madaffald kan skabe store problemer for os i fremtiden hvis vi fortsætter
             på den måde vi gør lige nu.
            </p>
        </div>
    </div>
    <!-- Box 2 -->
<div class="Box2" style="float: left">
   <img class="imgBox2" src="https://www.lboro.ac.uk/media/wwwlboroacuk/external/content/schoolsanddepartments/meme/photos/news/2016/Food%20waste%20cropped.jpg"
        style= "width: 518px; height: 350px; float:left;">
    <h2>  Danskerne Indsats  </h2>
    <p style="padding-right: 2px; padding-left: 2px;">Danskerne har fået sat madspild som en meget fjern priotet her for tiden, mens der er stadig en masse forskellige grupper som <a href="https://stopspildafmad.org/om-madspild/">Stop Spild Af Mad</a>, har kigget ind på problemet og prøvet at kommet
        med løsninger til hvordan vi kunne fjerne, eller i det mindste gøre sådan at vi har mindre madspild i Danmark. Samlet smider vi i Danmark hvert år over 700.000 ton mad ud, som kunne være spist. Husholdningernes madspild udgør 260.000 ton pr. år. <br>
        I servicesektoren er der et årligt madspild på 227.000 ton, heraf 163.000 ton fra detailhandlen, 29.000 ton fra hoteller og restauranter og 31.000 ton fra institutioner og storkøkkener om året. Madspild fra
        primærproduktionen udgør 100.000 ton pr. år, mens fødevareindustrien står for et årligt madspild på 133.000 ton.</p>
</div> <div class="Box2" style="float: right">
    <img class="imgBox2" src="https://www.theglobeandmail.com/resizer/t-s8p8IJLTkLOzT4c8iA31IJNBQ=/900x0/filters:quality(80):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/tgam/3BW2CKERPZCABHRNR5EFFHOTBY.jpg"
         style="width: 518px; height: 350px; float: right;">
    <h2>Undgå Madspild</h2>
    <p style="padding-right: 2px; padding-left: 2px;">Her er nogen ydelser man kan få hvis man undgår madspild:</p>
    <ul>
        <li> Din familie vil kunne spare over 7.000 kr. om året ved at mindske madspild.</li>
        <li> Du vil kunne spare flere timer i madindkøb hver måned.</li>
        <li> Du vil være med til at mindske miljøbelastning og CO2-udledning.</li>
        <li> Du vil være med til at passe på Jordens i forvejen knappe ressourcer samt mindske naturbeslaglæggelsen.</li>
        <li> Du vil opføre dig ansvarligt i en verden, hvor på verdensplan ca. hver 9. barn, kvinde og mand mangler mad.</li>
    </ul>
</div>

    <!-- Vores bund boxer som får siden til at ligne et skilt -->
    <div class="bundBox" style="float: left">
        <div id="kontakt_info">
            <p>Kontakt os: </p>
            <p>Tlf: +45 88 88 88 88</p>
            <p>Email: </p>
            <p>rigtigmail500@hotmail.com</p>
        </div>
        <div id="adresse">
            <p>Vores adresse: </p>
            <p>Svendborg Landevej 92</p>
        </div>
    </div>
    <div id="whitebox"></div>
    <div class="bundBox" style="float: right">
        <div id="social_media">
            <p>Hold dig opdateret</p>
            <p><img class="icon" src="/twitter-brands.svg"> Følg os på twitter</p>
            <p><img class="icon" src="/facebook-brands.svg"> Mød os på facebook</p>
            <p><img class="icon" src="/linkedin-brands.svg"> Link os på linkedin</p>
        </div>
    </div>
</div>

</body>
</html>