<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="HomePageCSS.css">
    <meta charset="UTF-8">
    <title>Kontakt</title>
</head>
<body>
<div class="main">
    <h1>Madspild</h1>
    <div class="subCategorier">
        <div class="linksBox">
            <a href="http://localhost:8080/Homepage">Homepage</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 2</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 3</a>
        </div>
        <div class="linksBox">
            <a href="Kontakt">Kontakt</a>
        </div>
    </div>

    <div id="kontakt">
        <h2>Kontakt</h2>
        <form>
            <div class="row">
                <p>Fulde navn:</p>
                <input class="kontakt_input" type="text" name="Navn">
            </div>
            <div class="row">
                <p>Email: </p>
                <input class="kontakt_input" type="email" name="email">
            </div>
            <textarea></textarea>
            <input id="button" type="button" name="Send" value="Send">
        </form>
        </div>
    </div>


</div>

</body>
</html>