<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="HomePageCSS.css">
    <meta charset="UTF-8">
    <title>Kontakt</title>
</head>
<body>
<div class="main">
    <h1>Madspild</h1>
    <div class="subCategorier">
        <div class="linksBox">
            <a href="http://localhost:8080/Homepage">Homepage</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 2</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 3</a>
        </div>
        <div class="linksBox">
            <a href="">Categori 4</a>
        </div>
    </div>

    <!-- Den første information box -->
    <div class="box1">
        <form>
            <p>Fulde navn:</p>
            <input type="text" name="Navn">
            <p>Email: </p>
            <input type="email" name="email">
            <textarea>

            </textarea>
        </form>
        </div>
    </div>

    <

</div>

</body>
</html>