<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="HomePageCSS.css">
    <meta charset="UTF-8">
    <title>Kontakt</title>
</head>
<body>
<div class="main" style=" height: 1000px;">
    <h1>Madspild</h1>
    <div class="subCategorier">
        <div class="linksBox">
            <a href="http://localhost:8080/Homepage">Homepage</a>
        </div>
        <div class="linksBox">
            <a href="http://localhost:8080/side2">Hvad kan du gøre</a>
        </div>
        <div class="linksBox">
            <a href="Kontakt">Kontakt</a>
        </div>
    </div>

    <div id="kontakt">
        <h2>Kontakt</h2>
        <form>
            <div class="row">
                <p>Fulde navn:</p>
                <input class="kontakt_input" type="text" name="Navn">
            </div>
            <div class="row">
                <p>Email: </p>
                <input class="kontakt_input" type="email" name="email">
            </div>
            <textarea></textarea>
            <input id="button" type="button" name="Send" value="Send">
        </form>
    </div>
    <!-- Vores bund boxer som får siden til at ligne et skilt -->
    <div class="bundBox" style="float: left">
        <div id="kontakt_info">
            <p>Kontakt os: </p>
            <p>Tlf: +45 88 88 88 88</p>
            <p>Email: </p>
            <p>rigtigmail500@hotmail.com</p>
        </div>
        <div id="adresse">
            <p>Vores adresse: </p>
            <p>Svendborg Landevej 92</p>
        </div>
    </div>
    <div id="whitebox"></div>
    <div class="bundBox" style="float: right">
        <div id="social_media">
            <p>Hold dig opdateret</p>
            <p><img class="icon" src="/twitter-brands.svg"> Følg os på twitter</p>
            <p><img class="icon" src="/facebook-brands.svg"> Mød os på facebook</p>
            <p><img class="icon" src="/linkedin-brands.svg"> Link os på linkedin</p>
        </div>
    </div>
</div>



</body>
</html>