<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="HomePageCSS.css">
    <title>Information omkring madspild</title>
</head>
<body>

</body>
<div class="main">
    <h1>Hvad kan du gøre?</h1>
    <div class="subCategorier">
        <div class="linksBox">
            <a href="http://localhost:8080/Homepage">Homepage</a>
        </div>
        <div class="linksBox">
            <a href="http://localhost:8080/side2">Hvad kan du gøre</a>
        </div>

        </div>
        <div class="linksBox">
            <a href="Kontakt">Kontakt</a>
        </div>
    </div>

</html>
